.statistics {
    display: flex;
    padding: 20px;
    border: 2px solid #000;
    border-radius: 15px;
    margin-top: 30px;
    .active_user {
        width: 25%;
        color: #fff;
        font-size: 18px;
    }
    .graph {
        width: 30%;
    }
    .data {
        align-self: center;

        ul > li {
            list-style-type: none;
            font-size: 20px;
            color: aliceblue;
            margin: 40px auto;
        }
        ul > li::before {
            content: "\0374";
            list-style: square;
            display: inline-block;
            margin-right: 10px;
            width: 1.4em;
            height: 1.4em;
            border-radius: 5px;
        }
        ul > :nth-child(1)::before {
            background: #7889FB;
            color: #7889FB;
        }
        ul > :nth-child(2)::before {
            background: #fd956e;
            color: #fd956e;
        }
        ul > :nth-child(3)::before {
            background: #04e38a;
            color: #04e38a;
        }
    }
}